{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block main %}
   <form action="" method="post" class="form-horizontal" role="form">
        <div class="form-container">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-offset-4 col-sm-3">
                        <p class="lead">Recomendation</p>
                        <div class="list-group">
                            <li class="list-group-item active">Recomendation 1</li>
                            <li class="list-group-item">Recomendation 2</li>
                            <li class="list-group-item">Recomendation 3</li>
                            <li class="list-group-item">Recomendation 4</li>
                        </div>
                    </div>
                </div>
            </div>


                {% for question in questions %}
                    <div class="form-group">
                        <label for="inputnumber" class="col-sm-2 control-label">Renter</label>
                        <div class="col-md-9">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="{{ url_for('static', filename='images/User_1.jpg') }}" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="{{ url_for('detail',question_id=question.id)
                                         }}">{{ question.address }} {{ question.city }} {{ question.state }}</a></p>
                                    <p class="question-content">{{ question.content }}</h4>
                                </div>
                                <div class="question-info">
                                    <span class="question-author">{{ question.author.username }}</span>
                                    <span class="question-time">{{ question.create_time }}</span>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

        </div>
   </form>
{% endblock %}
